site_name: Distributed Systems
site_url: https://srikanth-doddi.github.io/DistributedSystems/
theme:
  name: material
  palette:
    primary: green
    accent: amber

nav:
  - Home: index.md
  - Introduction:
      - Overview: introduction/overview.md
      - Getting Started: introduction/getting-started.md
